.gallery {
    display: flex;

    &__photo { 
        width: 100%;
        display: block;
    }
}

.overview {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    

    border-bottom: 1px solid var(--color-grey-light-2);
    
    &__heading {
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 2px;
        padding: 1.5rem 3rem;
        font-size: 2.25rem;
    }

    &__stars{
        //width: 60%;
        margin-right: auto;
        display: flex;
        
        
    }

    &__stars--icon,
    &__location--icon {
            height: 1.75rem;
            width: 1.75rem;
            fill: var(--color-primary);
    }

    &__location{
        display: flex;
        font-size: 1.2rem;
        align-items: center;

        &--icon {
            margin-right: .5rem;
        }
    }

    &__rating{
        background-color: var(--color-primary);
        align-self: stretch;
        //padding: 0.5rem 2rem;
        padding: 0rem 2.25rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;

        &--average{
            font-size: 2.5rem;
            font-weight: 100;
            margin-bottom: -3px;
        }
        &--count{
            font-size: .8rem;
            text-transform: uppercase;
        }
    }
}

.btn-inline {
    border: none;
    color: var(--color-primary);
    background-color: transparent;
    font-size: inherit;
    border-bottom: 1px solid currentColor;

    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: var(--color-grey-dark-1);      
    }

    &:focus {
        outline: none;
        animation: pulsate 1s  infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 2rem 3rem rgba(0,0,0,0.3);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}